/* Örnek: homepage.component.css */
.navbar {
    background-color: var(--primary) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-brand span {
    color: var(--light) !important;
  }
  
  .btn-outline-primary {
    color: var(--info) !important;
    border-color: var(--info) !important;
  }
  
  .btn-outline-primary:hover {
    color: var(--primary) !important;
    background-color: var(--info) !important;
  }
  
  .btn-primary {
    background-color: var(--warning) !important;
    border-color: var(--warning) !important;
    color: var(--light) !important;
  }
  
  .logo-large {
    width: 220px !important;
    height: auto;
    margin: 15px 0;
    filter: brightness(0) invert(1); /* Logoyu beyaza çevir */
  }
  
  .navbar-logo {
    width: 40px;
    height: auto;
    margin-right: 8px;
    filter: brightness(0) invert(1);
  }
  